{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Create Listings</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'createlisting' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="title" placeholder="Title" required>
        </div>
        <div class="form-group">
            <textarea autofocus class="form-control" name="description" rows="4" cols="50" placeholder="Description" required></textarea>
        </div>
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="imageurl" placeholder="Provide Image URL of the product">
        </div>
        <div class="form-group">
            <input autofocus class="form-control" type="integer" name="inital_bid" placeholder="Intial Bid">
        </div>
        <div class="form-group">
        <select name="Category">
            <option value="" disabled selected>Select the Category</option>
            <option value="Fashion">Fashion</option>
            <option value="Toys">Toys</option>
            <option value="Electronics">Electronics</option>
            <option value="Home">Home</option>
          </select>
        </div>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
{% endblock %}